
@import url(/assets/fa/css/all.min.css);

:root {
    color-scheme: light dark;

    --gray-9: #212529;
    --gray-8: #343a40;
    --gray-4: #ced4da;
    --gray-3: #dee2e6;
    --gray-2: #e9ecef;
    --gray-1: ##f1f3f5;

    /* slightly transparent variants */
    --gray-9-70: #21252970;
    --gray-8-70: #343a4070;
    --gray-4-70: #ced4da70;
    --gray-3-70: #dee2e670;
    --gray-2-70: #e9ecef70;
    --gray-1-70: #f1f3f570;

    --chip-background: var(--gray-2-70);
    --chip-color: var(--gray-9);

    --bye-green: #77b19d;
    --green-8: #2f9e44;
    --green-6: #40c057;

    --red-9: #c92a2a;
    --red-6: #fa5252;

}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --chip-background: var(--gray-9-70);
        --chip-color: var(--gray-3);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    transition: color .2s ease-in-out, background .2s ease-in-out;
}

.hidden {
    display: none !important;
}



body {
    font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

header {
    /* body > header */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
    background: linear-gradient(0, #ff880000, #77b19d);
}

header .end {
    margin-left: auto;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 1rem;
}

#tuner /* #wrapper > tuner */ {
    display: flex;
    flex-direction: column;
    width: 350px;
    flex: 0 0 350px;

    max-height: 90vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 100vw;
    flex: 1;
    padding: 1rem;
    gap: .5rem;

    max-height: 90vh;
    overflow-y: auto;
}

aside#requests {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;

    width: 350px;
    flex: 0 0 350px;
    height: 100%;
    max-height: 90vh;
}

#requests-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    flex: 1;
    overflow-y: auto;
}

#tunerlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.options {
    /* Mainly input elements */
    display: flex;
    flex-direction: column;
    gap: .25rem;

    padding: 1rem;
}

.options > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.chip.no-background {
    background: none;
}

.chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;

    background: var(--chip-background);
    color: var(--chip-color);

    backdrop-filter: blur(0px);
}

.chip.song > img {
    width: 150px;
    height: 150px;
    border-radius: .5rem;
}

.chip.song.compact > img {
    width: 100px;
    height: 100px;
}

.chip.preset > img {
    width: 100px;
    height: 100px;
    border-radius: .5rem;
}


.chip.preset > .info {
    display: flex;
    flex-direction: row;
    gap: .25rem;

    /* space apart and align to center */
    justify-content: space-between;
    align-items: center;

    width: 100%

}

.chip.preset > .info > .title {
    font-size: 1.25rem;
    font-weight: 500;

}

.chip.preset > .info > .buttons {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.chip .subtitle {
    font-size: .8rem;
    opacity: .5;
}

.chip.song > .info > .title {
    font-size: 1.25rem;
    font-weight: 500;
}

.chip.song > .info {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.chip.song > .info > .progress {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;

    width: 100%;
}

.chip.song > .info > .progress > span {
    font-size: .8rem;
    opacity: .5;

    min-width: 30px;
}

.chip.song > .info > .progress > progress {
    
    flex: 1;
    height: 5px;
    border-radius: 1em;
    background: var(--gray-4);
    color: var(--bye-green);
    border: none;
}

.chip.song > .info > .moreinfo {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
}

.chip.song.request .title {
    font-size: 1rem;
    font-weight: 400;
}

.chip.song.request .artist {
    font-size: .9rem;
}

.chip.song.request img {
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}


#next-until, .until {
    opacity: .75;
}

#next-until::before, .until::before {
    content: "·";
    margin-right: .25rem;
}

progress::-webkit-progress-bar, progress::-moz-progress-bar {
    background: var(--bye-green);
    border-radius: 5px;
}

button, .button {
    display: inline-flex;
    gap: .2rem;
    align-items: center;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    
    /* The following colors relate to LIGHT MODE only. */
    background: #dee2e670;
    color: #000;

    backdrop-filter: blur(5px);
}

button:hover, .button:hover {
    background: #dee2e6;
}

button.active, .button.active {
    background: var(--green-6);
}

button.muted, .button.muted, button.muted:hover {
    background: var(--red-6)
}


#controller {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    padding: 1rem;
}

#controller input[type=range] {
    width: 50%;

    opacity: 0.7;
    transition: opacity .2s ease-in-out;
}

#controller input[type=range]:hover {
    opacity: 1;
}

input#precise-volume[type=number] {
    all: unset;
    background-color: var(--gray-2);
    color: var(--gray-9);
    border: none;
    
    width: 28px;
    height: 30px;
    padding: 0 0.5rem;
    font-size: 0.9rem;

    text-align: center;
    vertical-align: middle;

    border-radius: .5rem;

    /* Hide the up/down arrows */
    -moz-appearance: textfield;
    appearance: textfield;

}

input#precise-volume[type=number]::-webkit-inner-spin-button,
input#precise-volume[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

h2, h3 {
    margin: .25rem 0;
}

@media screen and (prefers-color-scheme: dark) {
    button, .button {
        background: #343a4070;
        color: #fff;
    }

    button.active, .button.button.active {
        background: var(--green-8);
    }

    button.muted, .button.muted, button.muted:hover {
        background: var(--red-9);
    }

    button:hover, .button:hover {
        background: #222;
    }

    input#precise-volume[type=number] {
        background-color: var(--gray-9);
        color: var(--gray-2);
    }
}


@media screen and (max-width: 1000px) {
    #wrapper {
        flex-direction: column;
    }

    #tuner {
        width: 100%;
        flex: 0;

        max-height: unset;
        overflow-y: unset;
    }

    main {
        width: 100%;
        flex: 1;
        max-height: unset;
        overflow-y: unset;
    }

    aside#requests {
        width: 100%;
        flex: 0;

        max-height: unset;
        overflow-y: unset;
    }

    
}

@media screen and (max-width: 550px) {
    .chip.song#now-playing {
        flex-direction: column;
        gap: .5rem;
    }
    .chip.song#now-playing > img {
        width: 100%;
        height: auto;
    }
    .chip.song#now-playing > .info {
        text-align: center;
    }
    .chip.song#now-playing > .info > .progress > span {
        font-size: 1rem;
    }

    .chip.song > .info {
        gap: 0;
    }

    .chip.song > .info > .moreinfo {
        display: block;
    }

    #next-until::before {
        content: "";
        margin-right: 0;
    }
}
